<div class="section">
  <div class="container">
    <p content="content">
      <%= link_to 'New role', new_role_path, class: 'button is-primary' %>
    </p>
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.id %></td>
          <td><%= role.name %></td>
          <td>
            <%= link_to 'Edit', edit_role_path(role) %> |
            <%= link_to 'Destroy', role, method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
